<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{% extends 'SALOON/saloonindex.html' %}
{% block body %}
<body>
<form action="/MyApp/editinv_post/" method="post" enctype="multipart/form-data" name="form1" id="form1">
     {% csrf_token %}
  <table class="table table-bordered">
       <input type="hidden" value="{{ data.id }}" name="id">
    <tr>
      <td>Product Name</td>
      <td><label for="textfield"></label>
      <input type="text" value="{{ data.Productname }}" name="textfield" id="textfield" class="form-control" pattern="[A-Z a-z ]+" required/></td>
    </tr>
    <tr>
      <td>Description</td>
      <td><label for="textarea"></label>
      <textarea name="textarea" id="textarea" cols="45" rows="5" class="form-control"required>{{ data.Description }}</textarea></td>
    </tr>
{#    <tr>#}
{#      <td>Manufacture Date</td>#}
{#      <td><label for="textfield2"></label>#}
{#      <input type="date" value="{{ data.Mandate|date:'Y-m-d' }}" name="textfield2" id="textfield2" class="form-control" /></td>#}
{#    </tr>#}
    <tr>
      <td>Image</td>
      <td><label for="fileField"></label>
          <img src="{{ data.Images }}" height="100px" width="100px">
      <input type="file"  name="fileField" id="fileField" class="form-control" /></td>
    </tr>
    <tr>
      <td>Price</td>
      <td><label for="textfield3"></label>
      <input type="number" value="{{ data.Price }}" name="textfield3" id="textfield3" class="form-control" pattern="[0-9]" required/></td>
    </tr>
{#    <tr>#}
{#      <td>In Stock</td>#}
{#      <td><label for="textfield4"></label>#}
{#      <input type="text" value="{{ data.Instock }}" name="textfield4" id="textfield4" class="form-control"/></td>#}
{#    </tr>#}
    <tr>
      <td height="24" colspan="2"><div align="center">
        <input type="submit" name="button" id="button" value="Edit" class="btn btn-success" />
      </div></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
