{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{% extends 'SALOON/saloonindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/MyApp/accbook/">
     {% csrf_token %}
  <table class="table table-bordered">
      <input type="hidden" name="tid" value="{{ id }}" class="form-control">
    <tr>
      <td>Token No</td>
      <td><label for="textarea"></label>
      <input type="text" name="token" id="token" class="form-control" required/></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" name="\" id="\" value="Submit" class="btn btn-success" />
      </div></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
