<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/MyApp/saloonhome/">
  <p><a href="/MyApp/add_emp/">ADD EMPLOYEE</a></p>
  <p><a href="/MyApp/salview_emp/">VIEW EMPLOYEE</a></p>
  <p><a href="/MyApp/add_ser/">ADD SERVICES</a></p>
  <p><a href="/MyApp/view_ser/">VIEW SERVICES</a></p>
  <p><a href="/MyApp/book_saloon/">BOOKING</a></p>
  <p><a href="/MyApp/sal_donreq/">DONATION REQUESTS</a></p>
  <p><a href="/MyApp/view_accdonreq/">ACCEPTED REQUESTS</a></p>
  <p><a href="/MyApp/add_inv/">ADD INVENTORY</a></p>
  <p><a href="/MyApp/sal_inv/">VIEW INVENTORY</a></p>
  <p><a href="/MyApp/sal_feedback/">FEEDBACK</a></p>
    <p><a href="/MyApp/sal_report/">REPORT</a></p>
  <p><a href="/MyApp/salchng_pass/">CHANGE PASSWORD</a></p>
</form>
</body>
</html>
