<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/MyApp/orghome/">
  <p><a href="/MyApp/don_req/">REQUEST DONATION</a></p>
  <p><a href="/MyApp/view_donreq/">VIEW DONATION REQUEST</a></p>
  <p><a href="/MyApp/view_appdon/">VIEW ACCEPTED DONATIONS</a></p>
  <p><a href="/MyApp/view_rejdon/">VIEW REJECTED DONATIONS</a></p>
  <p><a href="/MyApp/orgchng_pass/">CHANGE PASSWORD</a></p>
  <p><a href="#">LOGOUT</a></p>
</form>
</body>
</body>
</html>
