{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{% extends 'ADMIN/adminindex.html'%}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/MyApp/view_emp_post/">
    {% csrf_token %}
  <table class="table table-bordered">
    <tr>
      <th scope="col">
      <input type="text" name="textfield" id="textfield" class="form-control" required/></th>
      <th scope="col"><input type="submit" name="button" id="button" value="Search" class="btn btn-warning" /></th>
    </tr>
  </table>
  <table class="table table-bordered">
    <tr>
      <th scope="col">SLNo</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Gender</th>
      <th scope="col">Address</th>
      <th scope="col">Email</th>
      <th scope="col">Saloon ID</th>
      <th scope="col">Photo</th>
        <th scope="col">Qualification</th>
    </tr>
      {% for i in data %}
    <tr>
      <td>{{ forloop.counter }}&nbsp;</td>
      <td>{{ i.Name }}&nbsp;</td>
      <td>{{ i.Age }}&nbsp;</td>
      <td>{{ i.Gender }}&nbsp;</td>
      <td>{{ i.Place }}&nbsp;<br>{{ i.Post }}&nbsp;<br>{{ i.District }}&nbsp;<br>{{ i.State }} <br>{{ i.Pin }}&nbsp;</td>
      <td>{{ i.Email }}&nbsp;</td>
      <td>{{ i.SALOON.Email }}&nbsp;</td>
      <td><img src="{{ i.Image }}" height="100px" width="100px">&nbsp;</td>
        <td><img src="{{ i.Qualification }}" height="100px" width="100px">&nbsp;</td>
    </tr>
      {% endfor %}
  </table>
  <p>&nbsp;</p>
</form>
</body>
{% endblock %}