<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/MyAPP/addnews/">Add news</a><br>
<a href="/MyAPP/chngpass/">Chng Pass</a><br>
<a href="/MyAPP/mnguser/">Mng User</a><br>
<a href="/MyAPP/viewusernews/">Mng User News</a><br>
<a href="/MyAPP/viewapproved/">Approved News</a><br>
<a href="/MyAPP/viewrejected/">Rejected News</a><br>
<a href="/MyAPP/viewnews/">View News</a><br>
<a href="/MyAPP/viewrep/">View Reports</a><br>
<a href="/MyAPP/blockeduser/">Blocked Users</a><br>
<a href="/MyAPP/unblockeduser/">Unblocked Users</a><br>
<a href="/MyAPP/logout/">LOGOUT</a><br>

</body>
</html>